{databases,
 #{internal_db => #{db  => mnesia,
                    mod => sc_push_reg_db_mnesia},
   external_db => #{db  => postgres,
                    mod => sc_push_reg_db_postgres}
  }
}.

{connect_info,
 #{postgres => #{connection => [
                                {host, "localhost"},
                                {database, "sc_push_lib_test"},
                                {username, "sc_push_lib_test"},
                                {password, "test"}
                               ],
                 table_config => [
                                  {table_schema, "scpf"},
                                  {table_name, "push_tokens"}
                                 ]
                }
  }
}.

{apnsv3_sim_node, scpf_apnsv3_sim}.
{apnsv3_sim_config, [
                    {ssl, true},
                    {ssl_options, [{ip, {127,0,0,1}},
                                   {port, 2197},
                                   {cacertfile, "FakeAppleAllCAChain.cert.pem"},
                                   {certfile, "FakeAppleProdPushServer.cert.pem"},
                                   {keyfile, "FakeAppleProdPushServer.key.unencrypted.pem"},
                                   {honor_cipher_order, false},
                                   {fail_if_no_peer_cert, true},
                                   {verify, verify_peer},
                                   {versions, ['tlsv1.2']},
                                   {alpn_preferred_protocols, [<<"h2">>]}]}
                   ]
}.

{gcm_sim_node, scpf_gcm_sim}.
{gcm_sim_config, [
                  {debug, true},
                  {wm_tracer_node, 'wmtracer'},

                  %% These options are documented in mochiweb_socket_server (!!)
                  %% and apparently are mostly not used by webmachine. Except dispatch.
                  {wm_config, [
                               {ip, "0.0.0.0"},
                               {port, 5228},
                               {log_dir, ""}, % Will be changed by test suite to ct's priv_dir
                               {dispatch, [
                                           {["gcm", "send"], gcm_sim_resource, []}
                                          ]}
                              ]}]
                  }.

{sc_push, [
           {wm_config, [
                        {ip, "0.0.0.0"},
                        {port, 8765},
                        {dispatch, "dispatch.conf"}
                       ]
           },

           {services, [
                       [
                        {name, 'null'},
                        {mod, 'sc_push_svc_null'},
                        {description, "Null Push Service"},
                        {sessions, [
                                    [
                                     {name, 'null-com.example.FakeApp'},
                                     {mod, sc_push_svc_null_srv},
                                     {config, []}
                                    ]
                                   ]
                        }
                       ]
                      ]
           }
          ]
}.

{apns_erlv3, [
              {service, [
                         {name, apnsv3},
                         {mod, sc_push_svc_apnsv3},
                         {description, "APNS HTTP/2 Push Service"}
                        ]
              },

              {sessions, [
                          [
                           {name, 'apnsv3-com.example.FakeApp.voip'},
                           {config,
                            [
                             {apns_env, prod},
                             {host, <<"localhost">>},
                             {port, 2197},
                             {app_id_suffix, <<"com.example.FakeApp">>},
                             {apns_topic, <<"com.example.FakeApp.voip">>},
                             {team_id, <<"6F44JJ9SDF">>}, % Get from certfile Subject OU
                             {disable_apns_cert_validation, false},
                             {ssl_opts,
                              [
                               {cacertfile, "FakeAppleAllCAChain.cert.pem"},
                               {certfile, "com.example.FakeApp.universal.cert.pem"},
                               {keyfile, "com.example.FakeApp.universal.key.unencrypted.pem"},
                               {verify, verify_peer},
                               {honor_cipher_order, false},
                               {versions, ['tlsv1.2']},
                               {alpn_advertised_protocols, [<<"h2">>]}]}
                            ]
                           } % config
                          ] % apnsv3-com.example.SomeApp.voip
                         ]
              }
             ]
}.

{gcm_erl, [
           {service, [
                      {name, gcm},
                      {mod, sc_push_svc_gcm},
                      {description, "Google Cloud Messaging Service"}
                     ]
           },

           {sessions, [
                       [
                        {name, 'gcm-com.example.FakeApp'},
                        {config, [
                                  {api_key, <<"***************************************">>},
                                  {ssl_opts, [{verify, verify_none}]},
                                  {uri, "http://localhost:5228/gcm/send"},
                                  {max_attempts, 5},
                                  {retry_interval, 1},
                                  {max_req_ttl, 600}
                                 ]}
                       ]
                      ]
           }
          ]
}.

{registrations, [
                 [
                  {service, null},
                  {token, <<"null-token">>},
                  {tag, <<"null@test.er">>},
                  {device_id, <<"device-1">>},
                  {app_id, <<"com.example.FakeApp">>},
                  {dist, <<"prod">>} %% Test that "prod" works, too
                 ],
                 [
                  {service, apnsv3},
                  {token, "325e0015046b7d25cafebabe03d3248be84b9e1dedeadbeeff0a16dbfc3f6b74"},
                  {tag, <<"apns@test.er">>},
                  {device_id, <<"device-2">>},
                  {app_id, <<"com.example.FakeApp.voip">>},
                  {dist, <<"prod">>}
                 ],
                 [
                  {service, gcm},
                  {token, <<"***Some GCM token***">>},
                  {tag, <<"gcm@test.er">>},
                  {device_id, <<"device-3">>},
                  {app_id, <<"com.example.FakeApp">>},
                  {dist, <<"prod">>}
                 ]
                ]
}.

%% The test cases need to read this and replace
%% the mustache-style entries, e.g. "{{ error_log }}" before
%% setting lager's app environment. This is intended to support
%% using CommonTest's priv_dir().
{lager,
 [
  %% What handlers to install with what arguments
  {handlers, [
              {lager_console_backend, warning},
              {lager_file_backend, [
                                    {file, "{{ error_log_file }}"},
                                    {level, error},
                                    {size, 10485760},
                                    {date, "$D0"},
                                    {count, 5}
                                   ]
              },
              {lager_file_backend, [
                                    {file, "{{ console_log_file }}"},
                                    {level, info},
                                    {size, 10485760},
                                    {date, "$D0"},
                                    {count, 5}
                                   ]
              }
             ]
  },
  %% Whether to write a crash log, and where. Undefined means no crash logger.
  {crash_log, "{{ crash_log_file }}" }
 ]}.

{sasl, [
        {sasl_error_logger, false}
       ]}.

