{sc_push, [
        {wm_config, [
            {ip, "0.0.0.0"},
            {port, 8765},
            {dispatch, "{{data_dir}}/dispatch.conf"}
        ]},

        {services, [
                [
                    {name, 'null'},
                    {mod, 'sc_push_svc_null'},
                    {description, "Null Push Service"},
                    {sessions, [
                            [
                                {name, 'null-com.example.MyApp'},
                                {mod, sc_push_svc_null_srv},
                                {config, []}
                            ]
                        ]}
                ]
            ]}
    ]}.

{apns_erl, [
        {service, [
                {name, apns},
                {mod, sc_push_svc_apns},
                {description, "APNS Push Service"}
            ]},

        {sessions, [
                [
                    {name, 'com.example.SomeiOSApp--DEV'},
                    {config, [
                            {host, "gateway.sandbox.push.apple.com"},
                            {port, 2195},
                            {bundle_seed_id, <<"com.example.SomeiOSApp">>},
                            {bundle_id, <<"com.example.SomeiOSApp">>},
                            {fake_token, <<"XXXXXXXX">>},
                            {ssl_opts, [
                                    {certfile, "../../test/scpf_SUITE_data/certs/com.example.SomeiOSApp--DEV.cert.pem"},
                                    {keyfile, "../../test/scpf_SUITE_data/certs/com.example.SomeiOSApp--DEV.key.unencrypted.pem"}
                                ]}
                        ]}
                ]
            ]}
    ]}.

{gcm_erl, [
        {service, [
                {name, gcm},
                {mod, sc_push_svc_gcm},
                {description, "Google Cloud Messaging Service"}
            ]},

        {sessions, [
                [
                    {name, 'gcm-com.example.MyApp--DEV'},
                    {config, [
                            {api_key, <<"***************************************">>},
                            {ssl_opts, [{verify, verify_none}]},
                            {uri, "http://localhost:5228/gcm/send"},
                            {max_attempts, 5},
                            {retry_interval, 1},
                            {max_req_ttl, 600}
                        ]}
                ]
            ]}
    ]}.

{registrations, [
        [
            {service, null},
            {token, <<"null-token">>},
            {tag, <<"scpf@test.er">>},
            {device_id, <<"device-1">>},
            {app_id, <<"com.example.MyApp">>},
            {dist, <<"prod">>} %% Test that "prod" works, too
        ],
        [
            {service, apns},
            {token, "ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff"},
            {tag, <<"apns@test.er">>},
            {device_id, <<"device-2">>},
            {app_id, <<"com.example.SomeiOSApp">>},
            {dist, <<"dev">>}
        ],
        [
            {service, gcm},
            {token, <<"***Some GCM token***">>},
            {tag, <<"gcm@test.er">>},
            {device_id, <<"device-3">>},
            {app_id, <<"com.example.SomeAndroidApp">>},
            {dist, <<"dev">>}
        ]
    ]
}.


