.*.sw?
.rebar/
MANIFEST
build
build/
debian/files
debian/scpf.debhelper.log
debian/scpf.postinst.debhelper
debian/scpf.postrm.debhelper
debian/scpf.prerm.debhelper
debian/scpf.service
debian/scpf.substvars
debian/scpf/
deps/
distdir/
doc/*.html
doc/api/
doc/edoc-info
doc/erlang.png
doc/overview.edoc
doc/stylesheet.css
ebin/
logs/
rel/reltool.config
rel/scpf/
scpf*.tar.gz
test/*.beam
