.*.sw?
.rebar/
MANIFEST
build
_build/
debian/files
debian/scpf.debhelper.log
debian/scpf.postinst.debhelper
debian/scpf.postrm.debhelper
debian/scpf.prerm.debhelper
debian/scpf.service
debian/scpf.substvars
debian/scpf/
distdir/
doc/*.html
doc/api/
doc/edoc-info
doc/erlang.png
doc/overview.edoc
doc/stylesheet.css
ebin/
logs/
scpf*.tar.gz
test/*.beam
doc/man/scpf.1
tools/
*.crashdump
_checkouts/
Mnesia.*/
log/
certs/
sasl_error.log
INSTALL_DIR
_debian_build/
scpf.test.spec
test/scpf_SUITE_data/*Fake*.pem
CONFIG
_dev_package
