%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Platform-specific installation paths
{scpf_bin_dir,  "usr/lib/scpf/bin"}.
{scpf_lib_dir,  "usr/lib/scpf/lib"}.
{scpf_data_dir, "var/lib/scpf"}.
{scpf_log_dir,  "var/log/scpf"}.
{scpf_run_dir,  "var/run/scpf"}.
{scpf_etc_dir,  "etc/scpf"}.

% Sentry configuration
{scpf_sentry_public_key,      "PUBLIC_KEY"}.
{scpf_sentry_private_key,     "SECRET_KEY"}.
{scpf_sentry_project,         "PROJECT"}.
{scpf_sentry_error_logger,    "false"}.
{scpf_sentry_ipfamily,        "inet"}.
{scpf_sentry_log_level,       "error"}.

%%
%% sys.config
%%
{sasl_error_log,    "{{scpf_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{scpf_log_dir}}/sasl"}.
{scpf_log_level,    "debug"}.

%%
%% etc/vm.args
%%
{node,         "scpf"}.
{crash_dump,   "{{scpf_log_dir}}/erl_crash.dump"}.

%%
%% bin/scpf
%%
{runner_etc_dir,     "{{scpf_etc_dir}}"}.
{runner_log_dir,     "{{scpf_log_dir}}"}.
{pipe_dir,           "/tmp/scpf/"}.
{runner_user,        ""}.
{mnesia_dir,         "{{scpf_data_dir}}/mnesia"}.
{pidfile_dir,        "{{scpf_run_dir}}"}.
{code_loading_mode,  "interactive"}.
