%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Platform-specific installation paths
{scpf_base_dir, "/usr/lib/scpf"}.
{scpf_bin_dir,  "{{scpf_base_dir}}/bin"}.
{scpf_lib_dir,  "{{scpf_base_dir}}/lib"}.
{scpf_data_dir, "/var/lib/scpf"}.
{scpf_log_dir,  "/var/log/scpf"}.
{scpf_run_dir,  "/var/run/scpf"}.
{scpf_etc_dir,  "/etc/scpf"}.

%%
%% sys.config
%%
{sasl_error_log,    "{{scpf_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{scpf_log_dir}}/sasl"}.
{scpf_log_level,    "info"}.

%%
%% etc/vm.args
%%
{node,         "scpf@127.0.0.1"}.
{crash_dump,   "{{scpf_log_dir}}/erl_crash.dump"}.

%%
%% bin/scpf
%%
{runner_etc_dir,     "{{scpf_etc_dir}}"}.
{runner_log_dir,     "{{scpf_log_dir}}"}.
{pipe_dir,           "/tmp/scpf/"}.
{runner_user,        "scpf"}.
{mnesia_dir,         "{{scpf_data_dir}}"}.
{pidfile_dir,        "{{scpf_run_dir}}"}.
{code_loading_mode,  "embedded"}.

