Source: scpf
Section: net
Priority: extra
Maintainer: Edwin Fine <efine@silentcircle.com>
Build-Depends:
    curl,
    dh-systemd (>= 1.5),
    debhelper (>= 9),
    quilt,
    erlang (>= 1:18.3~),
    erlang-dev (>= 1:18.3~),
    git (>= 1.7~),
    pandoc (>= 1.12.4~)
Standards-Version: 3.9.5
Homepage: https://silentcircle.com/

Package: scpf
Architecture: any
Depends:
    adduser,
    logrotate,
    sudo,
    ${erlang-base:Depends},
    ${erlang-asn1:Depends},
    ${erlang-crypto:Depends},
    ${erlang-inets:Depends},
    ${erlang-mnesia:Depends},
    ${erlang-public-key:Depends},
    ${erlang-ssl:Depends},
    ${erlang-syntax-tools:Depends},
    ${erlang-xmerl:Depends},
    ${shlibs:Depends},
    ${misc:Depends}
Description: scpf is the Silent Circle Push Framework application, written in Erlang.
