%% See overlay/vars.config
[
 %% SASL config
 {sasl,
  [
   {sasl_error_logger, {file, "{{sasl_error_log}}"}},
   {errlog_type, error},
   {error_logger_mf_dir, "{{sasl_log_dir}}"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},

 {sc_push,
  [
   {services,
    [
     [
      {name, 'null'},
      {mod, 'sc_push_svc_null'},
      {description, "Null Push Service"},
      {sessions, [
                  [
                   {name, 'null-com.silentcircle.NullService'},
                   {mod, sc_push_svc_null_srv},
                   {config, []}
                  ]
                 ]}
     ]
    ]}
  ]},

 {sc_push_lib,
  [
   {db_pools,
    [
     {sc_push_reg_pool, % name
      [ % sizeargs
       {size, 50},
       {max_overflow, 0}
      ],
      [ % workerargs
       {db_mod, sc_push_reg_db_postgres},
       {db_config, [
                    {hostname, "localhost"},
                    {database, "sc_push_lib_test"},
                    {username, "sc_push_lib_test"},
                    {password, "test"}
                   ]}
      ]}
    ]}
  ]},

 {apns_erlv3, [
               {service, [
                          {name, apnsv3},
                          {mod, sc_push_svc_apnsv3},
                          {description, "APNS HTTP/2 Push Service"}
                         ]},

               {sessions, []}
              ]},

 {gcm_erl, [
            {service, [
                       {name, gcm},
                       {mod, sc_push_svc_gcm},
                       {description, "Google Cloud Messaging Service"}
                      ]},

            {sessions, []}
           ]},

 %% Sentry credentials - this must be configured with suitable settings
 %%  {raven_erlang, [
 %%      {dsn, "https://{{ scpf_sentry_public_key }}:{{ scpf_sentry_private_key }}@app.getsentry.com/{{ scpf_sentry_project }}"},
 %%      {uri, "https://app.getsentry.com"},
 %%      {project, "{{ scpf_sentry_project }}"},
 %%      {public_key, "{{ scpf_sentry_public_key }}"},
 %%      {private_key, "{{ scpf_sentry_private_key }}"},
 %%      {error_logger, '{{ scpf_sentry_error_logger }}' },
 %%      {ipfamily, '{{ scpf_sentry_ipfamily }}' }
 %%  ]},

 {lager, [
          %% What handlers to install with what arguments
          {handlers,
           [
            %% Raven/Sentry integration
            %%              {raven_lager_backend, '{{ scpf_sentry_log_level }}'},
                %% Console
                {lager_console_backend, '{{ scpf_log_level }}' },
                %% Error log file
                {lager_file_backend,
                 [{file, "{{ scpf_log_dir }}/error.log"},
                  {level, 'error'},
                  {size, 10485760},
                  {date, "$D0"},
                  {count, 5}]},
                %% Console log file
                {lager_file_backend,
                 [{file, "{{ scpf_log_dir }}/console.log"},
                  {level, '{{ scpf_log_level }}'},
                  {size, 10485760},
                  {date, "$D0"},
                  {count, 5}]}
               ]},
              %% Whether to write a crash log, and where. Undefined means no crash logger.
              {crash_log, "{{ scpf_log_dir }}/crash.log"},
              %% Maximum size in bytes of events in the crash log - defaults to 65536
              {crash_log_msg_size, 65536},
              %% Maximum size of the crash log in bytes, before its rotated, set
              %% to 0 to disable rotation - default is 0
              {crash_log_size, 10485760},
              %% What time to rotate the crash log - default is no time
              %% rotation. See the README for a description of this format.
              {crash_log_date, "$D0"},
              %% Number of rotated crash logs to keep, 0 means keep only the
              %% current one - default is 0
              {crash_log_count, 5},
              %% Whether to redirect error_logger messages into lager - defaults to true
              {error_logger_redirect, true}
             ]}
].


