%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Platform-specific installation paths
{platform_base_dir, "/usr/lib/scpf"}.
{platform_bin_dir,  "{{platform_base_dir}}/bin"}.
{platform_lib_dir,  "{{platform_base_dir}}/lib"}.
{platform_data_dir, "/var/lib/scpf"}.
{platform_etc_dir,  "/etc/scpf"}.
{platform_log_dir,  "/var/log/scpf"}.
{platform_run_dir,  "/var/run/scpf"}.

%%
%% etc/app.config
%%
{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.

%%
%% etc/vm.args
%%
{node,         "scpf@127.0.0.1"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

%%
%% bin/scpf
%%
{runner_script_dir,  "/usr/sbin"}.
{runner_base_dir,    "{{platform_base_dir}}"}.
{runner_etc_dir,     "{{platform_etc_dir}}"}.
{runner_log_dir,     "{{platform_log_dir}}"}.
{pipe_dir,           "/tmp/scpf/"}.
{runner_user,        "scpf"}.
{mnesia_dir,         "{{platform_data_dir}}"}.
{pidfile_dir,        "{{platform_run_dir}}"}.

